::-webkit-scrollbar {
    width: 4px;
    height: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #e7e7e7;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5541d7;
    border-radius: 2px;
  }